.layerBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.layerBox img {
  display: block;
  width: 100%;
  height: auto;
}
.layerBox .ly-loding,
.layerBox .ly-information,
.layerBox .ly-inquiry {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  width: 80vw;
  padding-top: 1.35135135vh;
  overflow: hidden;
}
.layerBox .ly-loding .loding-img-box,
.layerBox .ly-information .loding-img-box,
.layerBox .ly-inquiry .loding-img-box {
  width: 16vw;
}
.layerBox .ly-loding p,
.layerBox .ly-information p,
.layerBox .ly-inquiry p {
  margin-top: 1.21621622vh;
  font-size: 3.73333333vw;
  color: #fff;
  text-align: center;
}
.layerBox .ly-information {
  background: #fff;
  border-radius: 5px;
}
.layerBox .ly-information p {
  padding: 3.37837838vh 4vw;
  color: #333;
}
.layerBox .ly-information .ly-info-btn {
  width: 100%;
  padding: 1.68918919vh 0;
  background: #F2F2F2;
  border: 1px solid #D0D0D0;
  color: #000;
  text-align: center;
}
.layerBox .ly-inquiry {
  background: #fff;
  border-radius: 5px;
}
.layerBox .ly-inquiry p {
  padding: 3.37837838vh 4vw;
  color: #333;
}
.layerBox .ly-inquiry .ly-inquiry-btns {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.layerBox .ly-inquiry .ly-inquiry-btns div {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 1.68918919vh 0;
  background: #F2F2F2;
  border: 1px solid #D0D0D0;
  color: #000;
  text-align: center;
}
.layerBox .ly-inquiry .ly-inquiry-btns #ly-inquiry-error {
  color: #000;
}
