.layerBox {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.layerBox img {
  display: block;
  width: 100%;
  height: auto;
}
.layerBox .ly-loading,
.layerBox .ly-info,
.layerBox .ly-confirm {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  width: 80vw;
  max-width: 400px;
  padding-top: 1.35135135vh;
  overflow: hidden;
}
.layerBox .ly-loading .loading-img-box,
.layerBox .ly-info .loading-img-box,
.layerBox .ly-confirm .loading-img-box {
  width: 16vw;
}
.layerBox .ly-loading p,
.layerBox .ly-info p,
.layerBox .ly-confirm p {
  margin-top: 1.21621622vh;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.layerBox .ly-info {
  background: #fff;
  border-radius: 5px;
}
.layerBox .ly-info p {
  padding: 3.37837838vh 4vw;
  color: #333;
}
.layerBox .ly-info .ly-info-btn {
  width: 100%;
  padding: 1.68918919vh 0;
  background: #F2F2F2;
  border: 1px solid #D0D0D0;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.layerBox .ly-confirm {
  background: #fff;
  border-radius: 5px;
}
.layerBox .ly-confirm p {
  padding: 3.37837838vh 4vw;
  color: #333;
}
.layerBox .ly-confirm .ly-confirm-btns {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.layerBox .ly-confirm .ly-confirm-btns div {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 1.68918919vh 0;
  background: #F2F2F2;
  border: 1px solid #D0D0D0;
  color: #000;
  text-align: center;
  cursor: pointer;
}
.layerBox .ly-confirm .ly-confirm-btns #ly-confirm-error {
  color: #000;
}
